body {
	background-color: #00008a;
	font-family: sans-serif;
	color: #00008A;
	padding: 20px;
}
.academic_header {
	text-align: center;
	width: 80%;
	font-size: 19px;
	background-color: #EDE2C7;
	color: #8B0000;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	max-width: 800px;
	padding: 20px;
	box-shadow: 10px 10px 5px #02025e;
}
.introduction, .conclusion, .footer, .toc, .abstract, .bio {
	width: 80%;
	background-color: #EDE2C7;
	margin-left: auto;
	margin-right: auto;
	font-size: 19px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px;
	max-width: 800px;
	color: #8B0000;
	box-shadow: 10px 10px 5px #02025e;
}
.education, .performance, .students, .charity, .artists {
	width: 80%;
	background-color: #EDE2C7;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 20px;
	max-width: 800px;
	font-size: 19px;
	box-shadow: 10px 10px 5px #02025e;
}
h2, h3, h4 {
	text-align: center;
}
a:link {
	color: #0606bd;
}
a:visited {
	color: #02025e;
}
a:hover {
	color: black;
}
.header {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 19px;
}
.introduction, .conclusion, .abstract, .bio p {
	text-indent: 30px;
	color: #8B0000;
}
.column {
	float: left;
	width: 33%;
	padding: 1px;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
.gallery {
	color: #ffffff;
	text-align: center;
}
.bibliography {
	padding-left: 36px;
	text-indent: -36px;
}